   <ul>
        <li>Criação de sites responsivos e acessíveis</li>
        <li>Desenvolvimento de SPAs com React, Vue ou Angular</li>
        <li>Integração com APIs REST e GraphQL</li>
        <li>Otimização de performance e SEO</li>
        <li>Manutenção e refatoração de código legado</li>
      </ul>